# Ignore drafts/outlines in writing & portfolio
/content/portfolio/*
/content/writing/Extraction
# about section needs to be worked on too
/content/about.md

# Hugo build output
/public/
/resources/

# OS/editor cruft
.DS_Store

# Hugo
.hugo_build.lock