{{ define "main" }}
<article class="post portfolio">
        <h1 class="post-title">{{ .Title }}</h1>

        {{ if .Params.summary }}
        <p class="post-summary">{{ .Params.summary }}</p>
        {{ else if .Summary }}
        <p class="post-summary">{{ .Summary }}</p>
        {{ end }}

        <!-- Highlights removed for single pages -->

        <div class="post-body">
            {{ .Content }}
        </div>

        {{ if .Params.portfolio_tags }}
        <footer class="post-tags">
            {{ .Scratch.Set "taxonomy" "portfolio_tags" }}
            {{ partial "tags-chips.html" . }}
        </footer>
        {{ end }}
    </article>
{{ end }}