{{ define "main" }}
<article class="post writing">
        <h1 class="post-title">{{ .Title }}</h1>

        {{ if .Params.summary }}
        <p class="post-summary">{{ .Params.summary }}</p>
        {{ else if .Summary }}
        <p class="post-summary">{{ .Summary }}</p>
        {{ end }}

        <p class="post-meta">
            <time class="post-date" datetime="{{ .Date.Format " 2006-01-02" }}">
                {{ with .Params.date_display }}{{ . }}{{ else }}{{ .Date.Format "Jan 02, 2006" }}{{ end }}
            </time>
        </p>

        <div class="post-body">
            {{ .Content }}
        </div>

        {{ if .Lastmod }}
        {{ $daysDiff := div (sub .Lastmod.Unix .Date.Unix) 86400 }}
        {{ if gt $daysDiff 0 }}
        <p class="post-lastmod">Last updated: <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "Jan 02, 2006" }}</time></p>
        {{ end }}
        {{ end }}

        {{ if .Params.writing_tags }}
        <footer class="post-tags">
            {{ .Scratch.Set "taxonomy" "writing_tags" }}
            {{ partial "tags-chips.html" . }}
        </footer>
        {{ end }}
    </article>
{{ end }}