/* Define cascade layer order once */
@layer base, components, utilities, overrides;

/* Base */
@import "variables";
@import "helpers";
@import "tags";

/* Components */
@layer components {
    @import "lists";
    @import "posts";
    @import "writing";
    @import "portfolio";
    @import "utilities";
    @import "responsive";
    @import "references";
    @import "footer";
    @import "figures";

}


/* Overrides */
@layer overrides {
    @import "overrides";
    @import "breadcrumbs";
    @import "dark-mode";
}